<ion-header class="header-perfil">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/nav/config"></ion-back-button>
  </ion-buttons>
  <ion-title>Editar Informações</ion-title>
  <ion-button
    type="submit"
    form="formPerfil"
    [disabled]="!houveAlteracao() || form.invalid"
  >
    Salvar
  </ion-button>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="content"
  [class.input-focus]="inputEmFoco"
>
  <!-- Form Perfil -->
  <form #form="ngForm" id="formPerfil" (ngSubmit)="salvarPerfil()">
    <!-- Nome -->
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        [(ngModel)]="nome"
        name="nome"
        [placeholder]="nome || 'Digite seu nome'"
        required
        #nomeInput="ngModel"
        (ionFocus)="inputEmFoco = true"
        (ionBlur)="inputEmFoco = false"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="nomeInput.invalid && nomeInput.touched">
      <small>Preencha este campo</small>
    </ion-text>

    <!-- Data de nascimento -->
    <ion-item>
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-input
        [(ngModel)]="dataNascimento"
        name="dataNascimento"
        type="date"
        required
        #dataNascimentoInput="ngModel"
        (ionFocus)="inputEmFoco = true"
        (ionBlur)="inputEmFoco = false"
      ></ion-input>
    </ion-item>
    <ion-text
      color="warning"
      *ngIf="dataNascimentoInput.invalid && dataNascimentoInput.touched"
    >
      <small>Preencha este campo</small>
    </ion-text>

    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        [placeholder]="email || 'Digite seu email'"
        required
        email
        #emailInput="ngModel"
        (ionFocus)="inputEmFoco = true"
        (ionBlur)="inputEmFoco = false"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="emailInput.invalid && emailInput.touched">
      <small>Preencha este campo com um email válido</small>
    </ion-text>
  </form>
</ion-content>
