<ion-content class="content">
  <div class="centraliza">
    <div class="recuperar-wrapper">
      <h2 class="titulo-recuperar">Recuperar Senha</h2>

      <form class="form">
        <!-- Email -->
        <ion-item class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="Digite o email da conta"
            required
          ></ion-input>
        </ion-item>

        <!-- Botão para recuperar senha -->
        <ion-button expand="block" (click)="recuperarSenha()">
          Recuperar Senha
        </ion-button>
      </form>

      <!-- Link para login -->
      <div class="login-link" (click)="navCtrl.navigateBack('/login')">
        Lembrou sua senha? <span>Entrar</span>
      </div>
    </div>
  </div>
</ion-content>
