<ion-content class="ion-padding" keyboard-attach>
  <form [formGroup]="formCompra" id="formDividaCompra">
    <!-- Formulário COMPRA via cartão -->
    <div *ngIf="modo === 'cartao'">
      <div
        class="custom-select-wrapper"
        [class.disabled]="compraIndex !== undefined"
      >
        <div
          class="custom-select"
          (click)="compraIndex === undefined && toggleSelect('cartoes')"
          [style.pointer-events]="compraIndex !== undefined ? 'none' : 'auto'"
        >
          <ion-icon
            name="card-outline"
            [style.color]="cartaoSelecionado?.cor"
            class="card"
          ></ion-icon>
          <div class="selected-option" [style.color]="cartaoSelecionado?.cor">
            {{ cartaoSelecionado?.nome || "Selecione um cartão" }}
          </div>
          <ion-icon
            name="chevron-down-outline"
            class="arrow"
            [class.open]="mostrandoCartoes"
          ></ion-icon>
          <div class="options" *ngIf="mostrandoCartoes">
            <div
              *ngFor="let cartao of cartoes"
              (click)="selecionarCartao(cartao, $event)"
              [style.color]="cartao.cor"
            >
              {{ cartao.nome }}
            </div>
          </div>
        </div>
      </div>

      <div class="campo-valor-central">
        <input
          type="tel"
          class="input-valor"
          placeholder="R$ 0,00"
          [ngStyle]="{ color: cartaoSelecionado?.cor || '#bbb' }"
          [disabled]="!cartaoSelecionado"
          [value]="valorFormatado"
          (input)="onInputValor($event, 'valor')"
          autocomplete="off"
        />
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon
            slot="start"
            name="pencil"
            [style.color]="cartaoSelecionado?.cor || '#bbb'"
          ></ion-icon>
          Nome da Compra
        </ion-label>
        <ion-input
          formControlName="nomeCompra"
          placeholder="Ex: Mercado"
          [disabled]="!cartaoSelecionado"
        ></ion-input>
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon
            slot="start"
            name="pin-outline"
            [style.color]="cartaoSelecionado?.cor || '#bbb'"
          ></ion-icon>
          Compra Fixa
        </ion-label>
        <ion-toggle
          formControlName="compraFixa"
          (ionChange)="onToggleFixa()"
          mode="ios"
          [disabled]="!cartaoSelecionado"
        ></ion-toggle>
      </div>

      <div
        [class.item-disabled]="formCompra.value.compraFixa"
        class="row-inputs"
      >
        <ion-label>
          <ion-icon
            slot="start"
            name="calendar-number-outline"
            [style.color]="cartaoSelecionado?.cor || '#bbb'"
          ></ion-icon>
          Parcela Atual
        </ion-label>
        <ion-input
          type="number"
          formControlName="parcelaAtual"
          [disabled]="formCompra.value.compraFixa || !cartaoSelecionado"
          placeholder="-"
        ></ion-input>
      </div>

      <div
        [class.item-disabled]="formCompra.value.compraFixa"
        class="row-inputs"
      >
        <ion-label>
          <ion-icon
            slot="start"
            name="repeat-outline"
            [style.color]="cartaoSelecionado?.cor || '#bbb'"
          ></ion-icon>
          Total de Parcelas
        </ion-label>
        <ion-input
          type="number"
          formControlName="totalParcelas"
          [disabled]="formCompra.value.compraFixa || !cartaoSelecionado"
          placeholder="-"
        ></ion-input>
      </div>

      <div class="row-textarea">
        <ion-label>
          <ion-icon
            slot="start"
            name="document-text-outline"
            [style.color]="cartaoSelecionado?.cor || '#bbb'"
          ></ion-icon>
        </ion-label>
        <ion-textarea
          formControlName="descricao"
          placeholder="Descreva a sua compra..."
          [disabled]="!cartaoSelecionado"
        ></ion-textarea>
      </div>
    </div>

    <!-- Formulário DÍVIDA em categoria -->
    <div *ngIf="modo === 'categoria'">
      <div class="custom-select-wrapper">
        <div class="custom-select" (click)="toggleSelect('categorias')">
          <ion-icon
            name="folder-outline"
            [style.color]="categoriaSelecionada?.cor"
            class="card"
          ></ion-icon>
          <div
            class="selected-option"
            [style.color]="categoriaSelecionada?.cor"
          >
            {{ categoriaSelecionada?.nome || "Selecione uma categoria" }}
          </div>
          <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>
          <div class="options" *ngIf="mostrandoCategorias">
            <div
              *ngFor="let categoria of categorias"
              (click)="selecionarCategoria(categoria, $event)"
              [style.color]="categoria.cor"
            >
              {{ categoria.nome }}
            </div>
          </div>
        </div>
      </div>

      <div class="campo-valor-central">
        <input
          type="tel"
          class="input-valor"
          placeholder="R$ 0,00"
          [ngStyle]="{ color: categoriaSelecionada?.cor || '#bbb' }"
          [disabled]="!categoriaSelecionada"
          [value]="valorDividaFormatado"
          (input)="onInputValor($event, 'valorDivida')"
          autocomplete="off"
        />
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon
            slot="start"
            name="pencil"
            [style.color]="categoriaSelecionada?.cor || '#bbb'"
          ></ion-icon>
          Nome da Dívida
        </ion-label>
        <ion-input
          formControlName="nomeDivida"
          placeholder="Ex: Mercado"
          [disabled]="!categoriaSelecionada"
        ></ion-input>
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon
            slot="start"
            name="calendar-number-outline"
            [style.color]="categoriaSelecionada?.cor || '#bbb'"
          ></ion-icon>
          Dia de Pagamento
        </ion-label>
        <ion-input
          type="number"
          formControlName="diaPagamento"
          placeholder="-"
          [disabled]="!categoriaSelecionada"
        ></ion-input>
      </div>

      <div class="row-textarea">
        <ion-label>
          <ion-icon
            slot="start"
            name="document-text-outline"
            [style.color]="categoriaSelecionada?.cor || '#bbb'"
          ></ion-icon>
        </ion-label>
        <ion-textarea
          formControlName="descricaoDivida"
          placeholder="Descreva a sua compra..."
          [disabled]="!categoriaSelecionada"
        ></ion-textarea>
      </div>
    </div>

    <!-- Mensagem de erro única -->
    <div
      *ngIf="formCompra.invalid && formTouched"
      class="erro-campo"
      style="text-align: center; margin-bottom: 12px"
    >
      Preencha todos os campos
    </div>

    <div
      *ngIf="compraIndex !== undefined; else btnSalvarUnico"
      class="botoes-edicao"
      style="display: flex; gap: 12px; margin-top: 18px"
    >
      <ion-button
        (click)="salvar()"
        class="btn-salvar"
        [style.--background]="
          modo === 'cartao' ? cartaoSelecionado?.cor : categoriaSelecionada?.cor
        "
        [disabled]="
          modo === 'cartao' ? !cartaoSelecionado : !categoriaSelecionada
        "
        expand="block"
        style="flex: 1"
      >
        Alterar
      </ion-button>
      <ion-button (click)="excluir()" style="flex: 1" class="btn-excluir">
        Excluir
      </ion-button>
    </div>

    <ng-template #btnSalvarUnico>
      <ion-button
        (click)="salvar()"
        class="btn-salvar ion-margin-top"
        [style.--background]="
          modo === 'cartao' ? cartaoSelecionado?.cor : categoriaSelecionada?.cor
        "
        [disabled]="
          modo === 'cartao' ? !cartaoSelecionado : !categoriaSelecionada
        "
        expand="block"
      >
        Salvar
      </ion-button>
    </ng-template>

    <ion-button expand="block" fill="clear" color="medium" (click)="cancelar()">
      Cancelar
    </ion-button>
  </form>
</ion-content>
