<ion-content class="ion-padding">
  <form [formGroup]="formCompra" (ngSubmit)="salvar()" id="formDividaCompra">
    <!-- Formulário COMPRA via cartão -->
    <div *ngIf="modo === 'cartao'">
      <!-- Custom Select fora do ion-item para evitar overflow hidden -->
      <div class="custom-select-wrapper">
        <div class="custom-select" (click)="toggleSelect('cartoes')">
          <ion-icon
            name="card-outline"
            [style.color]="cartaoSelecionado?.cor"
            class="card"
          ></ion-icon>
          <div class="selected-option" [style.color]="cartaoSelecionado?.cor">
            {{ cartaoSelecionado?.nome || "Selecione um cartão" }}
          </div>
          <ion-icon
            name="chevron-down-outline"
            class="arrow"
            [class.open]="mostrandoCartoes"
          ></ion-icon>

          <!-- Lista de opções -->
          <div class="options" *ngIf="mostrandoCartoes">
            <div
              *ngFor="let cartao of cartoes"
              (click)="selecionarCartao(cartao)"
              [style.color]="cartao.cor"
            >
              {{ cartao.nome }}
            </div>
          </div>
        </div>
      </div>

      <!-- Campo de valor centralizado -->
      <div class="campo-valor-central">
        <input
          type="tel"
          formControlName="valor"
          class="input-valor"
          placeholder="R$ 0,00"
          [value]="
            formCompra.get('valor')?.value
              ? formatarValor(formCompra.get('valor')?.value)
              : 'R$ 0,00'
          "
          (input)="onInputValor($event)"
          ionInput
          [style.color]="cartaoSelecionado?.cor"
        />
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon slot="start" name="pencil"></ion-icon>
          Nome da Compra
        </ion-label>
        <ion-input
          formControlName="nomeCompra"
          placeholder="Ex: Mercado"
        ></ion-input>
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon slot="start" name="pin-outline"></ion-icon>
          Compra Fixa
        </ion-label>
        <ion-toggle
          formControlName="compraFixa"
          (ionChange)="onToggleFixa()"
          mode="ios"
        ></ion-toggle>
      </div>

      <div
        [class.item-disabled]="formCompra.value.compraFixa"
        class="row-inputs"
      >
        <ion-label>
          <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
          Parcela Atual
        </ion-label>
        <ion-input
          type="number"
          formControlName="parcelaAtual"
          [disabled]="formCompra.value.compraFixa"
          placeholder="-"
        ></ion-input>
      </div>

      <div
        [class.item-disabled]="formCompra.value.compraFixa"
        class="row-inputs"
      >
        <ion-label>
          <ion-icon slot="start" name="repeat-outline"></ion-icon>
          Total de Parcelas
        </ion-label>
        <ion-input
          type="number"
          formControlName="totalParcelas"
          [disabled]="formCompra.value.compraFixa"
          placeholder="-"
        ></ion-input>
      </div>

      <div class="row-textarea">
        <ion-label>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
        </ion-label>
        <ion-textarea
          formControlName="descricao"
          placeholder="Descreva a sua compra..."
        ></ion-textarea>
      </div>
    </div>

    <!-- Formulário DÍVIDA em categoria -->
    <div *ngIf="modo === 'categoria'">
      <div class="custom-select" (click)="toggleSelect('categorias')">
        <ion-icon
          name="folder-outline"
          [style.color]="categoriaSelecionada?.cor"
          class="card"
        ></ion-icon>
        <div class="selected-option" [style.color]="categoriaSelecionada?.cor">
          {{ categoriaSelecionada?.nome || "Selecione uma categoria" }}
        </div>
        <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>

        <!-- Lista de opções -->
        <div class="options" *ngIf="mostrandoCategorias">
          <div
            *ngFor="let categoria of categorias"
            (click)="selecionarCategoria(categoria)"
            [style.color]="categoria.cor"
          >
            {{ categoria.nome }}
          </div>
        </div>
      </div>

      <!-- Campo de valor centralizado -->
      <div class="campo-valor-central">
        <input
          type="tel"
          formControlName="valorDivida"
          class="input-valor"
          placeholder="R$ 0,00"
          [value]="
            formCompra.get('valor')?.value
              ? formatarValor(formCompra.get('valor')?.value)
              : 'R$ 0,00'
          "
          (input)="onInputValor($event)"
          ionInput
          [style.color]="categoriaSelecionada?.cor"
        />
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon slot="start" name="pencil"></ion-icon>
          Nome da Dívida
        </ion-label>
        <ion-input
          formControlName="nomeDivida"
          placeholder="Ex: Mercado"
        ></ion-input>
      </div>

      <div class="row-inputs">
        <ion-label>
          <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
          Dia de Pagamento
        </ion-label>
        <ion-input
          type="number"
          formControlName="totalParcelas"
          placeholder="-"
        ></ion-input>
      </div>

      <div class="row-textarea">
        <ion-label>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
        </ion-label>
        <ion-textarea
          formControlName="descricaoDivida"
          placeholder="Descreva a sua compra..."
        ></ion-textarea>
      </div>
    </div>
  </form>
  <!-- Botões -->
  <ion-button
    (click)="salvar()"
    class="btn-salvar ion-margin-top"
    [style.--background]="cartaoSelecionado?.cor"
    >Salvar</ion-button
  >
  <ion-button expand="block" fill="clear" color="medium">Cancelar</ion-button>
</ion-content>
