:host {
  .modal-wrapper {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--ion-background-color);
  }

  ion-header {
    --background: transparent;
    border: none;
    height: 80px;
    display: flex;
    align-items: end;
    margin-bottom: 10px;

    ion-title {
      padding-left: 24px;
      font-size: 1rem;
      text-align: start;
      --color: var(--cor-principal);
      display: flex;
      align-items: end;
    }
  }

  ion-content {
    --background: #efefef !important;
  }

  .input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: #c0c0c0 0.6px solid;
    padding-right: 10px;

    .input-direita {
      width: 65%;
      padding-left: 8px;
      text-align: right;
      color: #2b2b2b;
    }

    .borda-cor {
      width: 80px;
      height: 36px;
      border: var(--cor-principal) 2px solid;
      overflow: hidden;
      border-radius: 10px;
    }

    .input-cor-wrapper {
      width: 78px;
      height: 34px;
      border: white 1px solid;
      display: flex;
      justify-content: flex-end;
      display: flex;
      overflow: hidden;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
    }

    .input-cor {
      width: 100%;
      height: 100%;
      border: none;

      &:focus {
        --box-shadow: none;
      }
    }

    .input-cor::-webkit-color-swatch-wrapper {
      width: 100px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ccc;
    }

    .input-cor::-webkit-color-swatch {
      border-radius: 50%;
      border: none;
    }
  }

  ion-label {
    width: 30%;
    text-align: left;
    font-weight: 500;
    color: #1b57be;
    font-size: 1rem;
    margin: 0;
    padding-left: 8px;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 1.5rem;
      margin-right: 5px;
    }
  }

  .icone-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 12px 0;
    justify-items: center;
    align-items: center;
    height: 200px;
    overflow-y: scroll;
    border: 20px;
  }

  .icone-botao {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: #666 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: all 0.2s ease-in-out;
    ion-icon {
      font-size: 24px;
      color: #666;
    }
  }

  .icone-botao.selecionado {
    background: var(--cor-principal);
    border: none;
    ion-icon {
      color: white;
    }
  }
}

.btn-salvar {
  --background: #1b57be;
  --color: white;
  --border-radius: 8px;
  width: 100%;
  font-size: 1rem;
}
