<ion-header>
  <ion-toolbar>
    <ion-title>{{
      categoria ? "Editar Categoria" : "Nova Categoria"
    }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <!-- Campo Nome -->
    <div class="input-row">
      <ion-label position="fixed">Nome</ion-label>
      <ion-input
        [(ngModel)]="novaCategoria.nome"
        name="nome"
        class="input-direita"
        placeholder="Ex: Trabalho"
      ></ion-input>
    </div>

    <!-- Campo Cor -->
    <div class="input-row">
      <ion-label position="fixed">Cor</ion-label>
      <div class="input-cor-wrapper">
        <ion-input
          type="color"
          [(ngModel)]="novaCategoria.cor"
          name="cor"
          class="input-direita input-cor"
          placeholder="#ffffff"
        ></ion-input>
      </div>
    </div>

    <!-- Label dos Ícones -->
    <ion-label
      class="label-icone ion-margin-top ion-margin-start"
      position="stacked"
      >Ícone:</ion-label
    >

    <!-- Grade de Ícones -->
    <div class="icone-grid">
      <button
        *ngFor="let icon of iconesDisponiveis"
        type="button"
        class="icone-botao"
        [class.selecionado]="icon === novaCategoria.icone"
        (click)="selecionarIcone(icon)"
      >
        <ion-icon [name]="icon"></ion-icon>
      </button>
    </div>

    <!-- Botões -->
    <ion-button
      (click)="salvar()"
      class="btn-salvar ion-margin-top"
      >Salvar</ion-button
    >
    <ion-button expand="block" fill="clear" color="medium" (click)="fechar()"
      >Cancelar</ion-button
    >
  </form>
</ion-content>
