.barra-nav {
  background: none !important;
  position: absolute;
}

ion-tab-bar {
  --background: #ffffff;
  border-radius: 100px;
  width: 260px;
  margin: 0 auto 7vh auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.186);
  border: none;
}
