<ion-tabs class="barra-nav">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/nav/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="carteira" href="/nav/carteira">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="config" href="/nav/config">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
