<ion-content class="pagina-gerenciar" fullscreen>
  <ion-header>
    <ion-title
      >Gerenciar Dívidas<ion-icon
        name="add-circle-outline"
        class="add-categoria"
        (click)="novaCategoria()"
      ></ion-icon
    ></ion-title>
  </ion-header>
  <!-- Lista de categorias -->
  <div class="grid-categorias">
    <div class="carteira-box" [routerLink]="['/cartoes']">
      <div class="capa-carteira">
        <ion-icon name="card-outline"></ion-icon>
        <p>Cartões</p>
      </div>
      <div
        class="cartao1"
        [ngStyle]="{
      background: categoriasCartoes[0]?.gradient || 'transparent',
      boxShadow: categoriasCartoes[0]?.gradient ? '8px -6px 12px rgba(0,0,0,0.24)' : 'none'
    }"
      ></div>
      <div
        class="cartao2"
        [ngStyle]="{
      background: categoriasCartoes[1]?.gradient || 'transparent',
      boxShadow: categoriasCartoes[1]?.gradient ? '8px -6px 12px rgba(0,0,0,0.24)' : 'none'
    }"
      ></div>
      <div class="fundo-carteira"></div>
    </div>

    <div
      class="categoria-box"
      *ngFor="let categoria of categorias"
      [routerLink]="['/dividas', categoria.id]"
    >
      <div class="info-categoria">
        <div class="icon-box" [style.background]="categoria.cor">
          <ion-icon [name]="categoria.icone"></ion-icon>
        </div>
        <p [style.color]="categoria.cor">{{ categoria.nome }}</p>
      </div>

      <!-- Botão de menu visível apenas no modo edição -->
      <ion-buttons class="menu-categoria">
        <ion-button fill="clear" size="small" [id]="'menu-'+categoria.id">
          <ion-icon
            name="ellipsis-vertical"
            [style.color]="categoria.cor"
          ></ion-icon>
        </ion-button>

        <ion-popover
          [trigger]="'menu-'+categoria.id"
          side="bottom"
          alignment="end"
          [showBackdrop]="false"
          mode="ios"
        >
          <ng-template>
            <ion-list lines="none">
              <!-- Editar -->
              <ion-item
                button
                class="editar"
                (click)="abrirModalCategoria(categoria, $event)"
              >
                <ion-icon slot="start" name="create-outline"></ion-icon>
                Editar
              </ion-item>

              <!-- Excluir -->
              <ion-item
                button
                class="excluir"
                (click)="confirmarExclusao(categoria.id, $event)"
              >
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Excluir
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>
      </ion-buttons>

      <div class="valor-categoria" [style.color]="categoria.cor">
        <p class="ttValorDividas">Valor Total</p>
        <p class="valorDividas">
          {{ financeiroService.getTotalDividasCategoria(categoria.id) |
          currency:'BRL':'symbol':'1.2-2' }}
        </p>
      </div>

      <div class="quant-dividas" [style.color]="categoria.cor">
        <p class="ttQuantDividas">Dívidas</p>
        <p class="numQuantDividas">
          {{ financeiroService.getQuantidadeDividasCategoria(categoria.id) }}
        </p>
      </div>
    </div>
  </div>
</ion-content>
