ion-header {
  --background: none !important;
  --color: var(--cor-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
  box-shadow: none;
  border: none;

  ion-title {
    font-size: 1.3rem;
    color: var(--cor-principal);
  }
}

.pagina-gerenciar {
  --background: #f7f7f7;
  margin: 0 auto;

  .grid-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
  }

  .categoria-box {
    width: 190px;
    height: 170px;
    background: white;
    border-radius: 12px;
    padding: 1.2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;

    ion-icon {
      font-size: 2rem;
      color: var(--cor-principal);
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #444;
      margin: 0;
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.fab-labels {
  position: fixed;   // FIXED para ficar sempre visível no canto da tela
  bottom: 70px;
  right: 16px;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 10px;
  z-index: 1001;      // maior que o botão flutuante, mas menor que o modal

  .fab-option {
    background: #ffffff;
    border-radius: 10px 10px 0 10px;
    padding: 10px 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.267);
    color: var(--cor-principal);
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: inline-block;
    white-space: nowrap;
    width: fit-content; // Faz crescer de acordo com o texto
    max-width: 95vw;
  }

  .fab-option:hover {
    transform: scale(1.05);
  }
}

ion-fab-button {
  --background: var(--cor-principal);
  --color: white;
  --box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;      // menor que os balões e que o modal

  ion-icon {
    font-size: 2.3rem;
  }
}


.form-categoria-flutuante {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1100;     // MUITO alto para ficar em cima de tudo
  animation: subir 0.3s ease-out;
}

@keyframes subir {
  from {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.botoes-form {
  margin-top: 1rem;
}

