<ion-content [fullscreen]="true" class="content" (click)="fecharMenus()">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header class="header">
    <ion-icon name="chevron-back-outline" (click)="voltar()"></ion-icon>
    <p>Meus Cartões</p>
    <ion-icon name="add-circle-outline" (click)="novoCartao()"></ion-icon>
  </ion-header>

  <!-- Se não houver cartões -->
  <div *ngIf="cartoes.length === 0" class="cartao-empty-wrapper">
    <div class="cartao-empty-silhueta">
      <ion-icon name="card-outline"></ion-icon>
      <span>Você ainda não cadastrou nenhum cartão.</span>
    </div>
    <ion-button expand="block" (click)="novoCartao()" class="btn-add-cartao">
      Adicionar cartão
    </ion-button>
  </div>

  <!-- Se houver cartões -->
  <ng-container *ngIf="cartoes.length > 0">
    <div class="cartoes-scroll-wrapper">
      <div class="cartoes-scroll" #scrollDiv (scroll)="onScroll($event)">
        <div class="cartao-espaco" tabindex="-1"></div>
        <div
          class="cartao-box"
          *ngFor="let cartao of cartoes; let i = index"
          [class.ativo]="i === cartaoAtivoIndex"
          [style.background]="cartao.gradient"
          (click)="i !== cartaoAtivoIndex && scrollToCenter(i)"
        >
          <div class="nome-cartao">
            <p>{{ cartao.nome }}</p>
          </div>
          <div class="menu-cartao">
            <ion-icon
              name="ellipsis-vertical"
              (click)="abrirMenuCartao(cartao, $event)"
            ></ion-icon>
            <div
              class="menu-cartao-custom"
              *ngIf="cartaoMenuAberto === cartao.id"
              (click)="$event.stopPropagation()"
            >
              <button class="editar" (click)="editarCartao(cartao, $event)">
                <ion-icon name="create-outline"></ion-icon>
                Editar
              </button>
              <button
                class="excluir"
                (click)="confirmarExclusao(cartao.id, $event)"
              >
                <ion-icon name="trash-outline"></ion-icon>
                Excluir
              </button>
            </div>
          </div>
          <div class="valor-cartao">
            <p class="valorFaturas">
              {{ financeiroService.getValorTotalCartao(cartao.id) |
              currency:'BRL':'symbol':'1.2-2' }}
            </p>
          </div>
          <div class="fechamento-cartao">
            <p class="ttFechamento">Fechamento</p>
            <p class="numFechamento">Dia {{ cartao.diaFechamento || '-' }}</p>
          </div>
          <div class="vencimento-cartao">
            <p class="ttVencimento">Vencimento</p>
            <p class="numVencimento">Dia {{ cartao.diaVencimento || '-' }}</p>
          </div>
        </div>
        <div class="cartao-espaco" tabindex="-1"></div>
      </div>
    </div>

    <!-- Bolinhas de indicação -->
    <div class="carrossel-indicadores">
      <span
        *ngFor="let cartao of cartoes; let i = index"
        [class.ativo]="i === cartaoAtivoIndex"
      ></span>
    </div>

    <!-- Fatura do cartão ativo -->
    <ion-card class="fatura-card">
      <ion-card-header
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <ion-card-title [style.color]="cartaoAtivo.cor">
          Fatura do {{ cartaoAtivo.nome }}
        </ion-card-title>
        <ion-button
          *ngIf="mostrarAtualizarFatura(cartaoAtivo)"
          size="small"
          fill="solid"
          [style.--background]="cartaoAtivo.cor"
          [style.marginLeft]="'8px'"
          (click)="confirmarAtualizarFatura()"
          style="color: #fff"
        >
          <ion-icon name="refresh-outline" slot="start"></ion-icon>
          Atualizar fatura
        </ion-button>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row class="fatura-header">
            <ion-col class="col-nome" [style.color]="cartaoAtivo.cor"
              >Nome</ion-col
            >
            <ion-col
              size="4"
              class="col-parcelas"
              [style.color]="cartaoAtivo.cor"
              >Parcelas</ion-col
            >
            <ion-col size="4" class="col-valor" [style.color]="cartaoAtivo.cor"
              >Valor</ion-col
            >
          </ion-row>

          <!-- Se não houver compras no cartão ativo -->
          <div
            *ngIf="!cartaoAtivo.compras || cartaoAtivo.compras.length === 0"
            class="nenhuma-compra-msg"
          >
            <ion-icon name="cart-outline"></ion-icon>
            Nenhuma compra encontrada para este cartão.
            <span style="font-size: 0.98rem; color: #aaa; font-weight: 400">
              Adicione uma nova compra para começar a acompanhar seus gastos.
            </span>
          </div>

          <!-- Lista de compras -->
          <ion-row
            *ngFor="let compra of cartaoAtivo.compras; let i = index"
            (click)="editarCompra(compra, i)"
          >
            <ion-col class="col-nome">{{ compra.nome }}</ion-col>
            <ion-col size="4" class="col-parcelas">
              {{ compra.compraFixa ? '/' : (compra.parcelaAtual + ' de ' +
              compra.totalParcelas) }}
            </ion-col>
            <ion-col size="4" class="col-valor">
              {{ compra.valor | currency:'BRL':'symbol':'1.2-2' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button
        [style.--background]="cartaoAtivo.cor"
        [style.--color]="'#fff'"
        (click)="openAdicionarCompra()"
      >
        <ion-icon name="cart-outline" [style.color]="'#fff'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
