ion-content {
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    box-shadow: none;
    padding-top: 10px;

    ion-icon:nth-child(1) {
      position: absolute;
      font-size: 1.5rem;
      left: 6%;
      padding: 10px;
      cursor: pointer;
    }

    ion-icon:nth-child(3) {
      position: absolute;
      right: 12%;
      font-size: 1.7rem;
      padding: 10px;
      cursor: pointer;
    }

    p {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  div {
    height: 100vh;
    padding-top: env(safe-area-inset-top);

    .content-dividas {
      background: var(--ion-background-color);
      height: 90%;
      border-radius: 30px 30px 0 0;
      z-index: 0;

      .fatura-card {
        background: transparent !important;
        color: white;
        margin-top: 15px;
        box-shadow: none;
        padding-inline: 20px;

        ion-card-header,
        ion-card-title {
          text-align: center;
          background: transparent !important;
          font-size: 1.5rem;
          color: #2c2cd4;
        }

        ion-card-title {
          margin-top: 40px;
          margin-bottom: 50px;
        }

        ion-grid {
          padding: 0;
        }

        ion-row {
          padding: 17px 0;
        }

        ion-row:not(:first-child):not(:last-child) {
          border-bottom: 1px solid rgba(41, 41, 41, 0.2);
        }

        .fatura-header {
          font-weight: bold;

          ion-col {
            color: #2c2cd4;
          }
        }

        ion-col {
          font-size: 14px;
          color: #666;
        }

        .col-nome {
          text-align: start;
          justify-content: flex-start;
        }

        .col-dia {
          text-align: center;
          justify-content: center;
        }

        .col-valor {
          text-align: end;
          justify-content: flex-end;
        }
      }
    }
  }
}
