<ion-content [fullscreen]="true" class="custom-bg">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [ngStyle]="{'background': categoria?.cor}">
    <ion-header class="header">
      <ion-icon name="chevron-back-outline" (click)="voltar()"></ion-icon>
      <p>{{ categoria?.nome }}</p>
    </ion-header>
    <div class="content-dividas">
      <ion-card class="fatura-card">
        <ion-card-header>
          <ion-card-title [style.color]="categoria?.cor">
            R$ {{ financeiroService.getTotalDividasCategoria(categoria?.id) |
            number:'1.2-2' }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row class="fatura-header">
              <ion-col class="col-nome" [style.color]="categoria?.cor"
                >Dívida</ion-col
              >
              <ion-col size="4" class="col-dia" [style.color]="categoria?.cor"
                >Dia</ion-col
              >
              <ion-col size="4" class="col-valor" [style.color]="categoria?.cor"
                >Valor</ion-col
              >
            </ion-row>

            <ng-container *ngIf="dividas.length > 0; else semDividas">
              <ion-row
                *ngFor="let divida of dividas; let i = index"
                (click)="editarDivida(divida, i)"
              >
                <ion-col class="col-nome">{{ divida.nome }}</ion-col>
                <ion-col size="4" class="col-dia"
                  >{{ divida.diaPagamento }}</ion-col
                >
                <ion-col size="4" class="col-valor">
                  {{ divida.valor | currency:'BRL':'symbol':'1.2-2' }}
                </ion-col>
              </ion-row>
            </ng-container>
            <ng-template #semDividas>
              <ion-row>
                <ion-col
                  class="col-nome"
                  size="12"
                  style="text-align: center; color: #888"
                >
                  Nenhuma dívida cadastrada nesta categoria.
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
        class="fab-ajustada"
      >
        <ion-fab-button
          [style.--background]="categoria?.cor"
          [style.color]="'#fff'"
          (click)="openAdicionarDivida()"
        >
          <ion-icon name="cart-outline" [style.color]="'#fff'"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
