
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/palettes/dark.system.css";

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

:root{
    --ion-background-color: #EFEFEF !important;
    --cor-principal: #0B3BB7;
    --cor-atraso: #dd2a2a;
    --cor-pago: #2a9d2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --overflow: hidden auto;

  &::part(scroll) {
    scrollbar-width: none;
  }

  &::part(scroll)::-webkit-scrollbar {
    display: none;
  }
}

ion-content{
    --background: #fff !important;
}

.custom-modal-bottom-sheet .modal-wrapper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

// Fundo escuro/transparente
ion-modal.custom-modal-bottom-sheet .modal-shadow {
  background: rgba(0, 0, 0, 0.4); // Escurece o fundo
  backdrop-filter: blur(4px);     // Desfoca o fundo
}





