@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/palettes/dark.system.css";

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/700.css";
// Importe outros pesos se quiser

@import "swiper/swiper-bundle.min.css";

:root {
  --ion-background-color: #efefef !important;
  --cor-principal: #0b3bb7;
  --cor-atraso: #dd2a2a;
  --cor-pago: #1eb884;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --overflow: hidden auto;

  &::part(scroll) {
    scrollbar-width: none;
  }

  &::part(scroll)::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
ion-app,
ion-content,
* {
  font-family: "Inter", sans-serif !important;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

body {
  font-size: 16px !important; // ajuste para o padrão do seu app
}

ion-content {
  --background: #fff !important;
}

.custom-modal-bottom-sheet .modal-wrapper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

// Fundo escuro/transparente
ion-modal.custom-modal-bottom-sheet .modal-shadow {
  background: rgba(0, 0, 0, 0.4); // Escurece o fundo
  backdrop-filter: blur(4px); // Desfoca o fundo
}

ion-refresher-content {
  margin-top: 16px; /* ajuste o valor conforme desejar */
}

ion-refresher-content .refresher-refreshing-text,
ion-refresher-content .refresher-pulling-text,
ion-refresher-content span {
  font-size: 0.8rem !important;
  color: #ccc !important;
  fill: #ccc !important;
}

ion-refresher-content .refresher-pulling-icon,
ion-refresher-content .refresher-refreshing-icon,
ion-refresher-content svg {
  color: #ccc !important;
  fill: #ccc !important;
  font-size: 1.4rem !important;
}

ion-refresher-content {
  --ion-color-primary: #ccc; /* Cor do seu app, troque se quiser */
  --color: #ccc; /* Cor do texto "Atualizando..." */
}

ion-alert.custom-alert {
  --background: #fff;
  --border-radius: 18px;
  --box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
}

ion-alert.custom-alert .alert-title {
  font-size: 1rem;
  color: var(--cor-principal);
}

ion-alert.custom-alert .alert-message {
  font-size: 1rem;
  color: #707070;
}

ion-alert.custom-alert .alert-button {
  font-size: 1rem;
  border-radius: 8px;
}

ion-alert.custom-alert .alert-button,
ion-alert.custom-alert .alert-button span {
  text-transform: none !important;
}

ion-alert.custom-alert .alert-button-role-cancel {
  color: var(--cor-principal);
}

ion-alert.custom-alert .alert-button:last-child {
  color: #e53935;
}
