<ion-header class="painelValores">
  <ion-toolbar class="content-painelValores">
    <div class="valorTotal">
      <ion-title class="tt-valorTotal">Valor Total das Dívidas</ion-title>
      <ion-title class="num-valorTotal">
        R$ {{ financeiroService.getValorTotalDividas() | number:'1.2-2'
        }}</ion-title
      >
    </div>
    
  </ion-toolbar>
  <div class="outrosValores">
    <div class="valorPago">
      <h6 class="tt-valorPago">Valor Pago</h6>
      <h4 class="num-valorPago">R$ {{ getValorTotalPago() | number:'1.2-2' }}</h4>
    </div>
    <div class="valorPendente">
      <h6 class="tt-valorPendente">Valor Pendente</h6>
      <h4 class="num-valorPendente">R$ {{ getValorTotalPendente() | number:'1.2-2' }}</h4>
    </div>
  </div>
</ion-header>

<ion-content fullscreen="true" class="content-home">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="crescent"
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="tabs">
    <button
      [class.active]="abaAtual === 'pendentes'"
      (click)="trocarAba('pendentes')"
      class="btn-pendentes"
    >
      Próximas Dívidas
    </button>
    <button
      [class.active]="abaAtual === 'pagos'"
      (click)="trocarAba('pagos')"
      class="btn-pagos"
    >
      Pagos
    </button>
  </div>

  <div class="slider">
    <div class="slide" [class.active]="abaAtual === 'pendentes'">
      <!-- Atrasados -->
      <ng-container
        *ngIf="compromissosAtrasados.length > 0"
        class="container-dividas"
      >
        <section class="cards-dividas card-atrasado">
          <h2>Atrasado</h2>
          <div
            class="itens-dividas item-atrasado"
            *ngFor="let compromisso of compromissosAtrasados"
          >
            <div class="top-divida">
              <ion-label [style.color]="compromisso.cor">
                <ion-icon
                  [name]="compromisso.tipo === 'cartao' ? 'card-outline' : compromisso.icone"
                  [style.color]="compromisso.cor"
                  style="margin-right: 8px"
                ></ion-icon>
                {{ compromisso.nome }}
              </ion-label>
              <ion-checkbox
                class="check"
                slot="end"
                [checked]="compromisso.foiPago"
                (ionChange)="alternarStatus(compromisso.id)"
                mode="ios"
              ></ion-checkbox>
            </div>
            <hr class="linha-divida" />
            <div class="bottom-divida">
              <ion-label>
                <h6>Valor</h6>
                <ng-container
                  *ngIf="compromisso.tipo === 'cartao'; else valorDividaAtrasado"
                >
                  <h6>
                    R$ {{ getValorTotalCartao(compromisso.id.replace('cartao-',
                    '')) | number:'1.2-2' }}
                  </h6>
                </ng-container>
                <ng-template #valorDividaAtrasado>
                  <h6>R$ {{ compromisso.valor }}</h6>
                </ng-template>
              </ion-label>
            </div>
          </div>
        </section>
      </ng-container>

      <!-- Pendentes por Dia -->
      <ng-container
        *ngFor="let dia of objectKeys(compromissosPorDia)"
        class="container-dividas"
      >
        <section class="cards-dividas">
          <h2 class="h2-pendente">{{ formatarTituloDia(+dia) }}</h2>
          <div
            class="itens-dividas"
            *ngFor="let compromisso of compromissosPorDia[+dia]"
          >
            <div class="top-divida">
              <ion-label [style.color]="compromisso.cor">
                <ion-icon
                  [name]="compromisso.tipo === 'cartao' ? 'card-outline' : compromisso.icone"
                  [style.color]="compromisso.cor"
                  style="margin-right: 8px"
                ></ion-icon>
                {{ compromisso.nome }}
              </ion-label>
              <ion-checkbox
                class="check"
                slot="end"
                [checked]="compromisso.foiPago"
                (ionChange)="alternarStatus(compromisso.id)"
                mode="ios"
              ></ion-checkbox>
            </div>
            <hr class="linha-divida" />
            <div class="bottom-divida">
              <ion-label>
                <h6>Valor</h6>
                <ng-container
                  *ngIf="compromisso.tipo === 'cartao'; else valorDividaPendente"
                >
                  <h6>
                    R$ {{ getValorTotalCartao(compromisso.id.replace('cartao-',
                    '')) | number:'1.2-2' }}
                  </h6>
                </ng-container>
                <ng-template #valorDividaPendente>
                  <h6>R$ {{ compromisso.valor }}</h6>
                </ng-template>
              </ion-label>
            </div>
          </div>
        </section>
      </ng-container>
    </div>

    <!-- Pagos -->
    <div class="slide" [class.active]="abaAtual === 'pagos'">
      <ng-container *ngIf="objectKeys(compromissosPagosPorDia).length === 0">
        <div
          class="content-vazio"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 48px 0;
          "
        >
          <ion-icon
            name="checkmark-done-circle-outline"
            style="font-size: 64px; color: #bdbdbd; margin-bottom: 10px"
          ></ion-icon>
          <p
            class="mensagem-vazio"
            style="color: #888; font-size: 1.1em; text-align: center"
          >
            Nenhuma dívida foi marcada como paga ainda.<br />
            Marque suas dívidas como pagas para acompanhar aqui!
          </p>
        </div>
      </ng-container>

      <ng-container *ngFor="let dia of objectKeys(compromissosPagosPorDia)">
        <section class="cards-dividas card-pago">
          <h2 class="h2-pago">{{ formatarTituloDia(+dia) }}</h2>
          <div
            class="itens-dividas item-pago"
            *ngFor="let compromisso of compromissosPagosPorDia[+dia]"
          >
            <div class="top-divida">
              <ion-label [style.color]="compromisso.cor">
                <ion-icon
                  [name]="compromisso.tipo === 'cartao' ? 'card-outline' : compromisso.icone"
                  [style.color]="compromisso.cor"
                  style="margin-right: 8px"
                ></ion-icon>
                {{ compromisso.nome }}
              </ion-label>
            </div>
            <hr class="linha-divida" />
            <div class="bottom-divida">
              <ion-label>
                <h6>Valor</h6>
                <ng-container
                  *ngIf="compromisso.tipo === 'cartao'; else valorDividaPaga"
                >
                  <h6>
                    R$ {{ getValorTotalCartao(compromisso.id.replace('cartao-',
                    '')) | number:'1.2-2' }}
                  </h6>
                </ng-container>
                <ng-template #valorDividaPaga>
                  <h6>R$ {{ compromisso.valor }}</h6>
                </ng-template>
              </ion-label>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
</ion-content>
