.painelValores {
  padding-top: env(safe-area-inset-top);
  height: 32vh;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--cor-principal);
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.26);

  .content-painelValores {
    --background: none !important;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 1rem 1rem;
    position: relative;

    .valorTotal {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;

      .tt-valorTotal {
        font-size: 0.72rem;
      }

      .num-valorTotal {
        font-size: 2rem;
      }
    }
  }

  .outrosValores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 0 20px 20px 20px;

    .tt-valorPago,
    .tt-valorPendente {
      color: white;
      font-size: 0.65rem;
      margin: 0;
    }

    .num-valorPago,
    .num-valorPendente {
      color: white;
      font-size: 0.8rem;
      margin: 0;
    }

    .tt-valorPendente {
      text-align: right;
    }
  }
}

//-----------------------------

.content-home {
  --background: none !important;
  --padding-start: 20px;
  --padding-end: 20px;
}

.content-vazio {
  color: #525151;

  p {
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
  }
}

::ng-deep ion-refresher-content {
  margin-top: 16px; /* ajuste o valor conforme desejar */
}

::ng-deep ion-refresher-content .refresher-refreshing-text,
::ng-deep ion-refresher-content .refresher-pulling-text,
::ng-deep ion-refresher-content span {
  font-size: 0.8rem !important;
  color: #ccc !important;
  fill: #ccc !important;
}

::ng-deep ion-refresher-content .refresher-pulling-icon,
::ng-deep ion-refresher-content .refresher-refreshing-icon,
::ng-deep ion-refresher-content svg {
  color: #ccc !important;
  fill: #ccc !important;
  font-size: 1.4rem !important;
}

/* filepath: c:\app-financas\controle-financeiro\src\app\home\home.page.scss */
ion-refresher-content {
  --ion-color-primary: #ccc; /* Cor do seu app, troque se quiser */
  --color: #ccc; /* Cor do texto "Atualizando..." */
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.tabs button {
  background: white;
  color: var(--cor-principal);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

.tabs button.active {
  background-color: var(--cor-principal);
  color: white;
}

.slide {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

ion-checkbox {
  --size: 26px;
  --checkbox-background-checked: var(--cor-pago);
  --checkbox-background: #efefef;
  --border-color: #7e7e7e;
  --border-color-checked: var(--cor-pago);
  --checkmark-color: white;
}

.card-atrasado {
  h2 {
    color: var(--cor-atraso);
    font-size: 0.8rem;
    margin: 0;
  }

  .item-atrasado {
    border: 2px solid var(--cor-atraso);
  }
}

.card-pago {
  h2 {
    color: var(--cor-pago);
    font-size: 0.8rem;
    margin: 0;
  }

  .item-pago {
    border: 2px solid var(--cor-pago);
  }
}

.cards-dividas {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  .h2-pendente {
    color: #525151;
    font-size: 0.8rem;
    margin: 0;
  }

  .itens-dividas {
    background: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: #585858;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);

    .top-divida {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-block: 0.6rem;
      padding-inline: 3px;

      ion-label {
        display: flex;
        align-items: center;
      }

      ion-icon {
        font-size: 1.4rem;
      }
    }

    .linha-divida {
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }

    .bottom-divida {
      width: 100%;
      padding-inline: 5px;

      ion-label {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
